.homeContainer {
  display: grid;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("/Logistics1.jpg");
  background-attachment: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.homeHeader {
  display: grid;
  grid-template-rows: 0.4fr 0.4fr;
}
.Title {
  font-size: 45px;
  color: white;
}
.homeBody {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  grid-column: span 2;
}
.About {
  position: fixed;
  height: 100%;
  font-size: 30px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
